body {
    .iniciouno {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img {
            display: flex;
            justify-content: center;
            img {
                width: 70%;
            }
        }

        div.inicio {
            margin: 5px 5%;

            p {
                font: $parrafos;
                margin: 1%;
                text-align: center;
            }
        }
    }
}