section.discografia {

    display: grid;
    align-items: center;
    justify-items: center;
    padding: 7%;
    grid-column: 2;
    grid-row: 3;
    grid-template-areas: 
        "descripcion-disco-uno reprod-uno"
        "reprod-dos descripcion-disco-dos"
        "descripcion-disco-tres reprod-tres"
        "conclusion-general conclusion-general";

    $grid-areas: (
        "descripcion-disco-uno",
        "reprod-uno",
        "reprod-dos",
        "descripcion-disco-dos",
        "reprod-tres",
        "descripcion-disco-tres",
        "conclusion-general"
    );

    @each $area in $grid-areas {
        div.#{$area} {
            grid-area: #{$area};
        }
    }

    div.conclusion-general {
        padding: 5%;
        text-align: center;
    }

    h2 {
        font: $subtitulos;
    }
}