section.galeria {
    img {
        @include flexbox (row, center, inherit);
    }

    h3 {
        @include flexbox (row, center, inherit);
        padding-bottom: 50px;
        padding-top: 5px;
        font-size: 40px;
    }
}