section.news {
    @include flexbox (column, center, center);

    div.imagenes-noticias {
        @include flexbox (row, space-around, center);

        img.img-news {
            @extend %imagenes-news;
        }
    }

    h2 {
        font: $subtitulos;
        text-align:center;
        text-decoration: underline;
    }

    p {
        text-align:center;
        font: $parrafos;
        margin: 10px 20px;
        padding: 10px 50px;
    }
}