
%imagenes-news {
    width: 30%;
    margin: 4%;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 10ms;

    &:hover {
        transform: scale(1.3, 1.3);
    }
}

%iconos-footer {
    width: 45px;
    height: 45px;
    padding: 3px;

    &:hover {
        width: 50px;
        height: 50px;
    }
}

%imagenes-shop{
        width: 100%;
        transition: transform 1s ease-in-out 4ms;

        &:hover {
            transform: scale(1.1, 1.1);
        }
}