footer {
    @include flexbox(row, center, inherit);
    justify-content: space-between;
    padding: 15px;
    height: 100px;
    background: linear-gradient(to top, #4b1a1a, #640b0b);
    ;

    img.incono-uno {
        @extend %iconos-footer;
    }

    img.incono-dos {
        @extend %iconos-footer;
    }

    img.incono-tres {
        @extend %iconos-footer;
    }
}

.text-footer {
    font-size: medium;
}