footer {
    @include flexbox(row, center, inherit);
    justify-content: space-between;
    padding: 5px 30px 0px 30px;
    height: 3%;
    background-color: rgb(33, 37, 41);
    border-top: 2px rgb(73, 80, 87) solid;

    img.incono-uno {
        @extend %iconos-footer;
    }

    img.incono-dos {
        @extend %iconos-footer;
    }

    img.incono-tres {
        @extend %iconos-footer;
    }
}

.text-footer {
    font-size: medium;
    color: rgb(120, 126, 134);

}